.hero-container {
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
  img {
    width: 100%;
    display: block;
    margin: auto;
  }
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 50%;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  font-size: 3vw;
}

.content {
  box-sizing: border-box;
  max-width: 80%;
  margin: 1rem auto;
}

.info {
  background-color: beige;
}
